body {
  background-color: gray;
}


.productos {
  display: flex;
  align-items: flex-end;
  min-height: 150px;
  /* position: absolute; */
}

.contenedor-producto {
  width: 120px;
  height: 100px;
  transition: 500ms;
  display: flex;
  align-items: center;
  opacity: .5;
  background-color: white;
  border-radius: 15px;
}
.contenedor-producto img {
  width: 100%;
}

.producto-seleccionado {
  height: 150px;
  transition: 500ms;
  opacity: 1;
}

.contenedor-carrusel {
  position: absolute
}

.contenedor-carrusel .paginacion-carrussel {
  display: flex;
  justify-content: center;
  position: relative;
}